/* App.css */

.calculator {
  width: 300px;
  background-color: #00274c; /* Maize Blue */
  border-radius: 5px;
  padding: 20px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.entry-display,
.current-entry-display {
  background-color: #ffd700; /* Maize Yellow */
  color: #00274c; /* Maize Blue */
  border: 1px solid #00274c; /* Maize Blue */
  border-radius: 3px;
  padding: 10px;
  text-align: right;
  margin-bottom: 20px;
}

.button-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

.button {
  background-color: #ffffff; /* White */
  color: #00274c; /* Maize Blue */
  border: none;
  border-radius: 3px;
  padding: 10px;
  font-size: 18px;
  text-align: center;
  cursor: pointer;
}

.button.operator {
  background-color: #00274c; /* Maize Blue */
  color: #ffffff; /* White */
}

.button.equal {
  background-color: #ffd700; /* Maize Yellow */
  color: #00274c; /* Maize Blue */
}

.button:hover {
  background-color: #dddddd; /* Light Gray */
}

.header {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.logo {
  width: 310px;  /* Adjust the dimensions as needed */
  height: 40px;
}

.cheps-text {
  color: #fff;
  margin-left: 10px;
  font-size: 18px;
}
